.product {
  &__image {
    width: 70%;
    border-radius: 7px;
    border-bottom: 3px solid #eb3b5a;
  }

  &__title {
    margin-top: 10px;

    &-dark {
      color: #ffffff;
    }
  }

  &:hover {
    cursor: pointer;

    .product__title {
      color: #eb3b5a;
      transition: 300ms ease-in-out;
    }

    .product__image {
      box-shadow: 2px 1px 50px 1px #eb3b5a;
      -webkit-box-shadow: 2px 1px 50px 1px #eb3b5a;
      -moz-box-shadow: 2px 1px 50px 1px #eb3b5a;
      border-bottom: 3px solid transparent;
      transition: 300ms ease-in;
    }
  }
}

.featured-product-tint {
  color: #2ecc71;
}
