@import "../../colors.scss";

$normalTint: $appBrandColor;
$featuredTint: #1abc9c;

.product {
  &__image {
    width: 70%;
    border-radius: 7px;
    &__product-tint {
      border-bottom: 3px solid $normalTint;
    }

    &__featured-tint {
      border-bottom: 3px solid $featuredTint;
    }
  }

  &__title {
    margin-top: 10px;

    &-dark {
      color: #ffffff;
    }
  }

  &:hover {
    cursor: pointer;

    .product__title {
      &__normal {
        color: $normalTint;
      }
      &__featured {
        color: $featuredTint;
      }
      transition: 300ms ease-in-out;
    }

    .product__image {
      &__normal-shadowtint {
        box-shadow: 2px 1px 50px 1px $normalTint;
        -webkit-box-shadow: 2px 1px 50px 1px $normalTint;
        -moz-box-shadow: 2px 1px 50px 1px $normalTint;
      }
      &__featured-shadowtint {
        box-shadow: 2px 1px 50px 1px $featuredTint;
        -webkit-box-shadow: 2px 1px 50px 1px $featuredTint;
        -moz-box-shadow: 2px 1px 50px 1px $featuredTint;
      }
      transition: 300ms ease-in;
    }
  }
}
