@import "../../../colors.scss";

.footer-list {
  &,
  ul {
    list-style-type: none;
    margin-left: -35px;
    font-size: 14px;
    line-height: 1.5rem;

    li {
      a {
        text-decoration: none;
      }
      .text-light,
      .text-dark {
        &:hover {
          color: $appBrandColor !important;
          text-decoration: underline;
        }
      }
    }
  }

  .social-icon {
    margin-right: 9px;
  }

  .fa-whatsapp {
    color: #25d366;
  }

  .fa-facebook {
    color: #1877f2;
  }

  .fa-twitter {
    color: #1da1f2;
  }

  .fa-instagram {
    color: #e4405f;
  }

  .fa-envelope-open {
    color: #f57d00;
  }

  .fa-linkedin {
    color: #0a66c2;
  }
}
