@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,100&display=swap");

.roboto {
  font-family: "Roboto", sans-serif;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-start {
  text-align: start;
}

.text-justify {
  text-align: justify;
}
