@import "../../colors.scss";

$brandColor: $appBrandColor;
$darkBackgroundColor: #212529;

.form-control {
  border-color: $appBrandColor !important;
  border: 2px solid $appBrandColor !important;
  border-radius: 7px !important;
  color: #697577 !important;

  &__dark {
    background-color: $darkBackgroundColor !important;
  }
}
