$brandColor: #dc3545;
$darkBackgroundColor: #212529;

.form-control {
  border-color: $brandColor !important;
  border: 2px solid $brandColor !important;
  border-radius: 7px !important;
  color: #697577 !important;

  &__dark {
    background-color: $darkBackgroundColor !important;
  }
}
