// $imageURL: "https://i.ibb.co/xqmtKLC/pngkey-com-sakura-tree-png-653745.png";

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  background-color: whitesmoke;
}

::-webkit-scrollbar-thumb {
  background-color: #dc3545;
  border-radius: 5px;
}

.dark-page {
  background-color: #161616;
}
