.products {
  &__image {
    width: 70%;
    border-radius: 7px;
  }

  &__title {
    margin-top: 10px;

    &-dark {
      color: #ffffff;
    }
  }

  .col-6,
  .col-sm-3 {
    &:hover {
      cursor: pointer;

      .products__title {
        color: #eb3b5a;
        transition: 300ms ease-in-out;
      }

      .products__image {
        filter: sepia(100%) hue-rotate(290deg);
        box-shadow: 2px 1px 65px 5px #eb3b5a;
        -webkit-box-shadow: 2px 1px 65px 5px #eb3b5a;
        -moz-box-shadow: 2px 1px 65px 5px #eb3b5a;
        transition: 300ms ease-in;
      }
    }
  }
}
