$dockWrapper: #f0f0f0;
$dockDarkWrapper: darken(#161616, 5%);

$dockItemsWrapper: #fff;
$dockItemsDarkWrapper: #161616;

$dockTitleColor: #222f3e;
$dockTitleHoverColor: #eb3b5a;

.vertical__dock {
  padding: 15px;
  text-align: center !important;
  justify-content: center;
  align-items: center;
  background-color: $dockWrapper;

  &-dark {
    background-color: $dockDarkWrapper;
  }

  &-wrapper {
    background-color: $dockItemsWrapper;
    border-radius: 5px;
    padding: 10px;

    &-dark {
      background-color: $dockItemsDarkWrapper;
    }

    &-icon {
      width: 50%;
    }

    &-title {
      font-size: 12px;
      margin-top: 10px;
      display: block;
      color: $dockTitleColor;

      &-dark {
        color: $dockItemsWrapper;
      }
    }

    &:hover {
      transition: 0.3s all;
      background-color: lighten(#858585, 15%);
      cursor: pointer;

      &-dark {
        background-color: darken($dockDarkWrapper, 35%);
      }

      .vertical__dock-wrapper-icon {
        transition: 0.3s all;
        filter: sepia(0.5);
      }
      .vertical__dock-wrapper-title {
        transition: 0.3s all;
        color: $dockTitleHoverColor;
      }
    }
  }
}
